body {
  position:absolute;
	margin				:	0;
    background:#66CCCC;
    top:4em;
    bottom:0em;
}

body>header {
	position:absolute;
	left					:	0;
	right					:	0;
	top:-4em;
	height				:  4em;
	background-color	: 	#3366cc;
	z-index:10;
}

h1{
  	margin-top:  0;
}
body>aside{
	position:relative;
	float:left;
	width:32%;
	min-height:100%;
	z-index:9;
	background-color:#009999;
}

body>header h1 {
text-align: right;
margin: 0;
height: 50%;
position: relative;
right: 0.7em;
font-size: 4em;
}

body>article {
    width:28%;
    background:#6666CC;
    float:left;
    margin-top:1.5%;
    margin-left:1.5%;
    height:1em;
    padding: 2em 2%;
}

body>aside * {
    padding:0 2%;
    margin-top:2%;
    text-align:justify;
}

body>article *{
    float:left;
    padding:0;
    margin:0;
    font-size:1em
}
body>article>p {
    margin-left:30px
}
a {
	color:inherit;
}
