body {
  position:absolute;
	margin				:	0;
    background:#AFD;
    top:4em;
    bottom:0em;
}

body>header {
	position				: 	absolute;
	left					:	0;
	right					:	0;
	top:-4em;
	height				:  4em;
	background-color	: 	#3da;
}

h1{
  	margin-top:  0;
}
body>aside{
	position:relative;
	background:#ADF;
	float:left;
	width:30%;
	height:100%
}

body>header h1 {
text-align: right;
margin: 0;
height: 50%;
position: relative;
right: 0.7em;
font-size: 4em;
}
