/*Body e Menu principale*/
body{
  background-color:#009999;
} 

.main-menu {
	z-index:10;
}

body>header {
z-index:3;
}

/*MENU LATERALE*/

#smc{
background-color: #6666cc;
width: 22%;
height: 100000%;
position: fixed;
top:0;
left:0;
z-index:1;
}

#sidebar {
background-color: #6666cc;
width: 22%;
position: absolute;
top: 4em;
bottom:0;
left:0;
z-index: 2;
}
#sbar{
list-style-type: none;
padding:0;
}
#sbar li{
 width:100%;
 text-align:center;
 background-color: #6666cc;
 -o-transition: 0.1s;
 -ms-transition: 0.1s;
 -moz-transition: 0.1s;
 -webkit-transition: 0.1s;
 transition: 0.1s;
 height:20px;
 line-height: 20px;
 font-size:100%;
}
#sbar li:hover{
 background-color:#46468B;
 height:40px;
 line-height: 40px;
 font-size:140%;
}
#sbar li:active{
 background-color:#FF2111;
}
/* stile titoli senza link sidebar*/
#sbar .lh{
 font-weight: bold;
 font-size:125%;
}
#sbar .lh:hover{
 background-color: #6666cc;
 height:20px;
 line-height: 20px;
 font-size:125%;
}
/*sidebar link style*/
#sbar a{
 display:block;
 width:100%;
 text-decoration:none;
 color:black;
}

/*content*/
#content {
width:76%;
background-color: #009999;
position: absolute;
top: 4em;
bottom:0;
z-index: 1;
left: 22%;
padding: 1%;
}
